/* variables */

:root {
    --ball-size: 150px;
    --bounce-height: 160px
}


/* first pokemon ball */

.ballWrapper a:hover {
    animation: 1000ms ease 0ms 1 normal none running shake;
    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
}

.ballWrapper a:nth-child(1) {
    animation: 1000ms ease 0ms 1 normal none running bounce;
    /* animation-delay: 0ms; */
    transform: translateY(0px);
    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
    position: relative;
    /* top: 0; */
}


/* Second pokemon ball */

.ballWrapper a:nth-child(2) {
    /* animation-delay: 300; */
    animation: 1000ms ease 250ms 1 normal none running bounce;
    /* transform: translateY(0px); */
    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
    position: relative;
}


/* third pokemon ball */

.ballWrapper a:nth-child(3) {
    /* animation-delay: 600ms; */
    animation: 1000ms ease 500ms 1 normal none running bounce;
    /* transform: translateY(0px); */
    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
    position: relative;
}


/* Animations */

@keyframes bounce {
    0% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }
    50% {
        top: calc(var(--bounce-height)/2);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        top: var(--bounce-height);
        -webkit-animation-timing-function: ease-in;
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}